YML_URL=https://www.alyansles.ru/bitrix/catalog_export/export_kTn.xml

DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com/v1
DEEPSEEK_MODEL=deepseek-chat

YANDEX_API_KEY=
YANDEX_FOLDER_ID=
YANDEX_TTS_VOICE=alena
YANDEX_TTS_EMOTION=neutral

TELEGRAM_BOT_TOKEN=
ADMIN_IDS=1726068652
